app:
  name: mogu-picture

nacos:
  client:
    namespaceId: dev
    timeoutMs: 5000
    notLoadCacheAtStart: true
    username: nacos
    password: nacos
    logLevel: debug
  server:
    - ipAddr: 10.168.1.125
      port: 8848
      contextPath: /nacos
      scheme: http
#      grpcPort: 9848
  config:
    #指定分组
    group: test
    type: yaml
  discovery:
    ip: 10.168.1.125
    Weight: 1
    enable: true
    healthy: true
    ephemeral: true
    groupName: DEFAULT_GROUP
    metadata:
      appName: mogu-picture
      version: 0.0.1
      env: go1.19.3

